* {
	margin: 0;
	padding: 0;
	text-indent: 0;
}
.s1 {
	color: #152025;
	font-family: 'Jest', sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 23pt;
}
.s2 {
	color: #152025;
	font-family: 'Jest', sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 16.5pt;
}
.s3 {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #152025;
	font-family: 'Jest', sans-serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 10.5pt;
}
p {
	color: #152025;
	font-family: 'Jest', sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10.5pt;
	margin: 0pt;
}
.s4 {
	color: #b10c10;
	font-family: 'Jest', sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10.5pt;
}
.s5 {
	color: #152025;
	font-family: 'Jest', sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10.5pt;
}
li {
	display: block;
}
#l1 {
	padding-left: 0pt;
	counter-reset: c1 1;
}
#l1 > li > *:first-child:before {
	counter-increment: c1;
	content: counter(c1, decimal) '. ';
	color: #152025;
	font-family: 'Jest', sans-serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 10.5pt;
}
#l1 > li:first-child > *:first-child:before {
	counter-increment: c1 0;
}
#l2 {
	padding-left: 0pt;
}
#l2 > li {
	padding-left: 20px;
}
#l2 > li > *:first-child:before {
	content: '● ';
	color: #152025;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10.5pt;
}
#l3 {
	padding-left: 0pt;
	counter-reset: d1 1;
}
#l3 > li > p {
	margin-top: 10px;
}
#l3 > li > *:first-child:before {
	counter-increment: d1;
	content: counter(d1, upper-latin) '. ';
	color: #152025;
	font-family: 'Jest', sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10.5pt;
}
#l3 > li:first-child > *:first-child:before {
	counter-increment: d1 0;
}
#l4 {
	padding-left: 0pt;
}

#l4 > li {
	padding-left: 20px;
}
#l4 > li > *:first-child:before {
	content: '● ';
	color: #152025;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10.5pt;
}
#l5 {
	padding-left: 0pt;
	counter-reset: e1 3;
}
#l5 > li {
	padding-left: 20px;
}
#l5 > li > *:first-child:before {
	counter-increment: e1;
	content: '(' counter(e1, lower-roman) ') ';
	color: #152025;
	font-family: 'Jest', sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10.5pt;
}
#l5 > li:first-child > *:first-child:before {
	counter-increment: e1 0;
}
#l6 {
	padding-left: 0pt;
	counter-reset: f1 1;
}

#l6 > li > *:first-child:before {
	counter-increment: f1;
	content: counter(f1, upper-latin) '. ';
	color: #152025;
	font-family: 'Jest', sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10.5pt;
}
#l6 > li:first-child > *:first-child:before {
	counter-increment: f1 0;
}
#l7 {
	padding-left: 0pt;
	counter-reset: f2 1;
}
#l7 > li {
	padding-left: 20px;
}
#l7 > li > *:first-child:before {
	counter-increment: f2;
	content: counter(f2, decimal) ') ';
	color: #152025;
	font-family: 'Jest', sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10.5pt;
}
#l7 > li:first-child > *:first-child:before {
	counter-increment: f2 0;
}
#l8 {
	padding-left: 0pt;
	counter-reset: f2 1;
}
#l8 > li {
	padding-left: 20px;
}
#l8 > li > *:first-child:before {
	counter-increment: f2;
	content: counter(f2, decimal) ') ';
	color: #152025;
	font-family: 'Jest', sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10.5pt;
}
#l8 > li:first-child > *:first-child:before {
	counter-increment: f2 0;
}
ol {
	margin-top: 10px;
}
